.drop-menu {
  background-color: #6B716E;
  border: 1px solid #6B716E;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 20px;
  letter-spacing: 2px;
  margin: 0 auto;
  max-height: 20px;
  padding: 6px 10px;
  position: relative;
  text-align: left;
  width: 135px;
  z-index: 1000;
}
.plus {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  color: white;
}
.mensajePais{
    color: white;
}
.drop-menu:hover {}
.drop-menu:hover .sub-menu {
  display: inline-block;
}
.drop-menu:hover .plus {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.sub-menu {
  background-color: #6B716E;
  background-image: -moz-linear-gradient(100% 100%  90deg, #333333, #6B716E);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#333333), to(#6B716E));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6B716E', EndColorStr='#333333');
  border: 1px solid #6B716E;
  display: none;
  border-top: none;
  margin-left: -11px !important;
  margin-top: 5px;
  padding: 6px 10px;
  width: 135px;
}
.sub-menu li {
  display: block;
  font-size: 14px;
  height: 15px;
  list-style-type: none;
  padding: 8px 0;
}
.sub-menu li img,.mensajePais img {
  margin-left: 10px;
}
.sub-menu li:hover {}
.sub-menu a {
  color: white;
  font-size: 14px;
}
.sub-menu a:hover {
  color: #F90;
}