/* 
    Document   : paises
    Created on : 22-09-2011, 03:23:20 PM
    Author     : talaman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

